.flex-fill {
    flex: 1;
}

.split, .gutter.gutter-horizontal {
    float: left;
    z-index: 5;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.list-group{
    max-height: 100%;
    margin-bottom: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}